<strong>Hi, {{ student_name }}</strong>
<br />
<p>
  You have asked, <strong>{{question}}</strong>
</p>
<p>
  And follow the answer
</p>
<p>
  <strong>{{answer}}</strong>
</p>

<p>
  <small>
    If it is not clear enouth, just contact us.
  </small>
</p>
